.quienes{

}

.quienes__title{
  display: inline-block;
  color: white;
  background-color: #3E69B0;
  font-size: 27px;
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  margin-top: 0;
  width: 170px;
}

.quienes__info-container{
  background-color: #4376B1;
  color: white;
  max-width: 370px;
  width: 100%;
  padding: 20px;
  font-size: 14px;
}
 
.quienes__profile-container{
  font-size: 14px;
}

.quienes__profile-name{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #3E69B0;
    width: 80px;
    height: 32px;
    color: white;
    padding-top: 4px;
    border-radius: 15px;
}

.quienes__profile-name--left{
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #3E69B0;
    width: 80px;
    height: 32px;
    color: white;
    padding-top: 4px;
    border-radius: 15px;
}

.quienes__profile-img{
  margin-top: 55px;
  text-align: center;
  position: relative;
}

.quienes__publicity{
    background: grey;
    width: 100%;
    max-width: 370px;
    height: 101px;
    margin-top: 30px;
}